.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .header-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .header-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group .optional {
    font-size: 12px;
    color: #aaa;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
  }
  
  .submit-button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .submit-button:hover {
    background: linear-gradient(45deg, #253bfc, #6a11cb);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .submit-button:active {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
  .mobile-number__div {
    display: flex;
    gap: 20px;
  }
  .mobile-number__div input:first-child {
    flex: 1;
  }
  .mobile-number__div input:last-child {
    flex: 6;
  }


  /* Extra Small Devices (Portrait Phones) */
@media (max-width: 479px) {
  body{
    overflow-x: hidden;
  }
  .header-form{
      padding: 15px 40px;
    }
    .form-container{
      min-height: 0;
    }
    .header-form {
      padding: 20px;
      width: 100%;
      max-width: 400px;
    }
  }


/* Small Devices (Phones) */
@media (min-width: 480px) and (max-width: 767px) {
  .header-form{
    padding: 15px 40px;
  }
  .form-container{
    min-height: 0;
  }
  .header-form {
    padding: 30px;
    width: 100%;
    max-width: 400px;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .header-form{
    padding: 15px 40px;
  }
  .form-container{
    min-height: 0;
  }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-form{
    padding: 15px 40px;
  }
  .form-container{
    min-height: 0;
  }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
  .header-form{
    padding: 15px 40px;
  }
  .form-container{
    min-height: 0;
  }
}