.navbar-container{
    background-color: rgb(85, 85, 250);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 50px;
}
.navbar-container a{
    text-decoration: none;
    color: white;
}
.navbar-section__1{
    display: flex;
    width: 52%;
    justify-content: space-between;
}
.navbar-section__1 a{
    margin-top: 3px;
}
.navbar-section__2{
    display: flex;
    width: 12%;
    justify-content: space-between;
}