@import url("./reset.css");
html {
  font-size: 16px;
  background-color: white;
  font-family: "Roboto","Merriweather", sans-serif;
}
h1,
h2,
h3,
p {
  color: #333333;
}
h3{
  font-size: 1.4rem;
 }
 


